.urm-card{
    padding: 16px;
    margin-top: 8px;

    border-radius: 16px;
    font-weight: bold;
    border: 2px solid transparent;
}

.center{
    text-align: center;
}

.urm-title{
    border-bottom: 2px solid var(--text-accent);
}

.urm-list{
    margin: 0;
    padding: 0;
}