.urm-card{
    padding: 16px;
    margin: auto;
    margin-top: 16px;

    border-radius: 16px;
    width: 256px;
    height: 256px;
    font-weight: bold;
    border: 2px solid transparent;

    background-color: var(--background-secondary-alt);
    border: 1px solid var(--background-modifier-border);    

    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.center{
    text-align: center;
}